.page .theme-default-content:not(.custom){
  max-width: 1250px;

  blockquote{
   border-radius:3px;
   border-left:5px solid #028329;
   padding: 15px;
   color: #161616ea;
   background-color: #3eee6477;
  }


  h1 {
    text-align: center;
    // font-size: 3.5rem;
    color: #FF0000;
    text-shadow: 0 0 5px rgb(148, 236, 7);
  }

  h2{
    // font-size: 3rem;
    color: #0000FF;
    // background-color: #ff99009d;
    // padding: 3px;
    padding-left: 10px;
    border-radius: 3px;
  }

  h3 {
      // font-size: 2rem;
      color: #e618b9e8;
      // background-color: #9dff009d;
      // padding: 3px;
      padding-left: 10px;
      border-radius: 3px;
  }

  h4 {
      // font-size: 1.6rem;
      color: #3e18e6bd;
      // padding: 3px;
      padding-left: 10px;
      border-radius: 3px;
      border-bottom: 1px dashed #182de973;
  }

  strong {
      background-color: inherit;
      color: #b5302e;
  }

  img{
      // border: 1px solid #666666;
      //margin: 0;
      margin-top: 12px;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }


}
.page .page-nav{
  max-width: 1250px;
}
